@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

.navbar-brand img {
    padding-right: 16px;
}

:root {
    /* Define primary colors */
    --primary-color: #007bff; /* Blue */
    --secondary-color: #6c757d; /* Gray */
    
    /* Define accent colors */
    --accent-color1: #93AE88; /* Green */
    --accent-color2: #dc3545; /* Red */
    
    /* Define text colors */
    --text-color: #333; /* Dark gray */
    --text-color-light: #fff; /* White */
    
    /* Define background colors */
    --background-color: #f8f9fa; /* Light gray */
    --background-color-dark: #343a40; /* Dark gray */
}

/*-----------------------------------------------------------------------------------------------------------*/

.navbar-brand span {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.navbar {
    padding: 48px 0;
}

a.nav-link {
    margin-right: 30px;
    border-radius: 15px;
}

.collapse .bx {
    font-size: 2rem;
}

.collapse button {
    border: none;
    border-radius: 35px;
    background-color: var(--accent-color1);
}

/*-----------------------------------------------------------------------------------------------------------*/

.hero img {
    height: 700px;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 1px 10px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 10px 25px 0px rgba(0,0,0,0.75); 
}

.hero-text {
    margin-top: 15vh;
    padding: 10px 10px;
    text-align: left;
}

.hero-text h1 {
    margin-bottom: 20px;
    font-size: 5rem;
}

.hero-text p {
    margin-left: 5px;
}

.hero .row .btn {
    background-color: var(--accent-color1);
    padding: 10px 10px;
    margin-left: 12px;
}

.hero .row .btn:hover {
    background-color: var(--secondary-color);
}

/*-----------------------------------------------------------------------------------------------------------*/

.exclusive {
    margin-top: 250px;
}

.exclusive .main h1 {
    font-size: 3rem;
    font-weight: 700;
}

.exclusive .main p {
    margin-left: 10px;
    margin-top: 35px;
    font-size: 1.2rem;
}

.exclusive .second {
    margin-top: 25px;
}

.second ul {
    display: flex;
    flex-direction: row;
}

.second ul a {
    margin-right: 100px; 
    border: 2px solid var(--accent-color1);
    border-radius: 25px;
    text-align: center;
    padding: 10px 30px;
}

.second ul #dodor {
    background-color: var(--accent-color1);
}

a.select:not(#dodor):hover {
    background-color: var(--accent-color1);
}

.exclusive .third .card {
    border: none;
    text-align: center;
}

.exclusive .third .card img {
    border-radius: 15px;
}

/*-----------------------------------------------------------------------------------------------------------*/

.quality {
    margin-top: 250px;
}

.quality img {
    height: 700px;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 1px 10px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 10px 25px 0px rgba(0,0,0,0.75); 
}

.quality-text {
    text-align: right;
    margin-top: 15vh;
    padding: 10px 10px;
}

.quality-text h1 {
    margin-bottom: 20px;
    font-size: 3rem;
}

.quality-text p {
    margin-left: 5px;
}

/*-----------------------------------------------------------------------------------------------------------*/

.info-card {
    -webkit-box-shadow: 1px 10px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 10px 25px 0px rgba(0,0,0,0.75); 
    border: none;
    border-radius: 15px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.info-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    width: 25%;
    height: 25%;
}